.section_header{
    display:flex;
    flex-direction:column;
    gap:var(--space-xs);
}

.section_eyebrow{
    display:flex;
    align-items:center;
    width:fit-content;
    font-size:clamp(.9rem,1vw,1rem);
    font-weight:600;
    border-radius:var(--radius-pill);
    background-color:hwb(41 0% 0% / 0.178);
    color:#ff8a00;    
    padding:var(--space-xs) var(--space-sm);
}

.section_title{
    font-size:clamp(2.6rem, 4vw, 4rem);
    font-weight:900;
    color:#060a3b;
}

.section_subtitle{
    color: #460799;
    font-weight: 600;
    margin-bottom: 1rem;
}

.section_description{
    margin:0;
    font-size:clamp(.95rem,1vw,1.1rem);
    line-height:1.8;
    color:#242e42;
}

@media(max-width:740px){
    .hero_description{
        text-align:justify
    }
    
}